<p>
    <strong>Title:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>보이스(mp3):</strong>
    <% if @post.voice_uploade_file.present? %>
    <!-- 오디오 스킨 -->
    <%# http://www.schillmania.com/projects/soundmanager2/doc/getstarted/#intro %>
    <div id="sm2-visualization" class="sm2-inline-list" style="position: absolute;">
        <div class="ui360 ui360-vis">
            <a href="<%= @post.voice_uploade_file %>" class="exclude button-exclude inline-exclude" style="position:absolute;color:#333">123</a>
        </div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    <div id="sm2-visualization" class="sm2-inline-list" style="position: absolute;">
        <div class="ui360 ui360-vis">
            <a href="http://cfile6.uf.tistory.com/media/9977D7335A23EC161BC888" class="exclude button-exclude inline-exclude" style="position:absolute;color:#333">456</a>
        </div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <!-- 오디오 스킨 -->
    <% end %>
</p>

<p>
    <strong>Content:</strong>
    <%= content_tag(:div, @post.content.html_safe, :class => "panel-body") %>
</p>