<div align="center" class="voice_title">
    <%= @post.title%>
</div>

<div class="voice_record">
    <% if @post.voice_uploade_file.present? %>
    <strong>보이스(mp3):</strong>
    <!-- 오디오 스킨 -->
    <%# http://www.schillmania.com/projects/soundmanager2/doc/getstarted/#intro %>
    <div> <!-- float is just for this demo layout, you don't need it. -->
        <div class="ui360"><a href="<%= @post.voice_uploade_file %>"></a></div>
    </div>
    <!-- 오디오 스킨 -->
    <% end %>
</div>

<div class="voice_content">
    <%= content_tag(:div, @post.content.html_safe, :class => "panel-body") %>
</div>