<% comments.each do |comment| %>
    <div class="comments-show">
        <hr class="offset-2 offset-md-2"/>
        <div class="comment comment_reply">
            <%= render 'comments/reply_end_pc', comment: comment %>
            <%= render 'comments/reply_end_mobile', comment: comment %>
        </div>
    </div>
<% end %>