<body class="main_body">
	<div style="margin-top: 250px;"></div>
	<!--<div id="fullpage">-->
	    <!-- 첫 번째 페이지 시작 -->
		<div class="section" id="section0">
			<div class="intro">
	            <div class="bg01" id="bg01">
	                <div align="center">
	                	<div class="vingle">
	                		<div class="vingle01"></div>
	                		<div class="vingle02"></div>
	                		<svg viewbox="0 0 200 200">
	                			 <h1 class="typo" style="padding-top: 75px;">VOICELL</h1>
	                    	</svg>
	                    </div>
					</div>
                    <div class="typo01 col-10 col-sm-5 col-md-12" style="padding: 5px; font-size: 20px; margin-top: 300px;">
						많은 Voicer 들에게 원하는 녹음물을 받으세요<br/>
						<div style="color:gray !important">Listener들에게 당신의 목소리를 들려주고 보상을 받으세요</div>
					</div>
					<%= link_to '입장하기', bulletin_posts_path(:bulletin_id => 1) , class: "gogo_btn gogo" %>
	            </div>
			</div>
		</div>
		<!-- 첫 번째 페이지 종료 -->
	<!--</div>-->
</body>