<!-- Typed.js 문자 리스트 -->
<div class="container" style="margin-top: 100px; margin-bottom: 20px; padding: 30px;">
    <% @search_result.first(1).each do |x| %>
        <div id="search_result">
            <p><%= x.title %></p>
        </div>
        <h2><span id="typed" style="color: gray;"></span> 검색결과</h2>
    <% end %>
</div>
<hr/>
<div class="container" style="margin-top: 50px;">
    <% if @search_result.empty? %>
        <h2>검색결과가 없음</h2>
    <% else %>
    <div class="search_result_title">
        <% @search_result.each do |post| %>
            <%= link_to bulletin_post_path(post.bulletin, post) do %>
                <h2><%= content_tag(:div, post.title, class: "etc", style: "border-bottom: 1px solid black; padding: 10px;") %></h2>
                <%= content_tag(:div, truncate( raw( sanitize(post.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "..."), class: "etc") %>
            <% end %>
        <% end %>
    <% end %>
    <div>
</div>