/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  /* index inform row*/
  .category_board_row {
    background-color: black;
    border-bottom: 4px solid #b4a6ff;
    color: white;
    padding: 10px;
  }
  
  .index_board_row {
    background-color: black;
    border-bottom: 4px solid white;
    color: white;
    padding: 10px;
  }

  /* 글자 ellipsis (글자수 초과 시 '...' 처리) */
  .etc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* 게시판 상단 Thum 영역(PC) */
  .board {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 170px 0px 60px 0px;
    text-align: center;
  }
  
  /* 게시판 상단 Thum 영역(모바일) */
  .board_mobile {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 100px 0px 30px 0px;
    text-align: center;
  }
  
  /* 배너영역 Text */
  .board_title {
    color: white;
  }
  
  /* 배너영역 Text */
  a.board_title:focus, a.board_title:hover {
    text-decoration: none;
    color: yellow;
  }
  
  /* 게시글 제목 input */
  .input_noborder {
    background-color: rgba(96, 125, 139, 0);
    border-top: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
  }
  
  /* 게시글 제목 input */
  input:focus {
    outline: 0;
  }
  
  /* 이미지가 Content 영역 초과되지 않게 방지 */
  .panel-body img{
    max-width : 100%;
    max-height : 100%;
  }
  
  // 로그인 창에서 로그인 인풋 영역이랑 비밀번호 영역 하얀색 배경으로 만드는 것
  .white_underbar_form {
    border-bottom: 2px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: rgba(255,255,255,0.5); 
    height: 40px; 
    border-radius: 15px;
  }
  
  // 로그인/회원가입 등 devise 폼 css
  .devise_info{
  	color: white;
    padding-bottom: 300px;
    background: url('login_bg.jpg') no-repeat center center/cover scroll;
    overflow-y: auto;
    margin-top: 200px;
  }
  
  #sign_up_password{
    margin-bottom: 40px;
  }
  
  .forgot_send_btn{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .error_msg{
    background-color: rgba(198,0,0,0.3);
    width: 60%;
    margin-left: 20%;
    color: white;
  }
  
  // 로그인 폼 css 끝


  // 보이스 게시판 가운데 정렬
  .voice_posts{
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 18%;
  }
  
  .write_posts_voice{
    margin-top: 10px;
  }
  
  // 댓글 답변 CSS
  .comment_reply {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    border-left: 2px solid #bbbbbb;
  }
  
  .destroy_btn:hover{
    background-color: black;
  }
  
  // 빙글빙글 도는 것 css
  
  .vingle {
  width: 200px;
  height: 100px;
  position: relative;
  // margin-top: 0px;
}
.vingle svg,
.vingle div{
  width: 200px;
  height: 100px;
  position: absolute;
}
.vingle svg {
  fill: #fff;
}
  .vingle div{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  mix-blend-mode: multiply;
  -webkit-animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
          animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
  }
  .vingle div:nth-child(1) {
    background-color: rgba(72,68,206,0.6);
    -webkit-animation-name: rotate-1;
            animation-name: rotate-1;
  }
  .vingle div:nth-child(2) {
    background-color:rgba(255,0,0,0.2);
    -webkit-animation-name: rotate-2;
            animation-name: rotate-2;
  }
  @-webkit-keyframes rotate-1 {
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  }
  @keyframes rotate-1 {
    to {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @-webkit-keyframes rotate-2 {
    to {
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
    }
  }
  @keyframes rotate-2 {
    to {
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
    }
  }
  @-webkit-keyframes rotate-3 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-3 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
  
  .typo{
    position: relative;
    z-index: 4;
    color: white;
  }
  
  .voice_bulletin{
    background: linear-gradient(270deg,#ffd0d0, #d3d0ff);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
      }
      
  // .main_body{
  //   background: linear-gradient(270deg,#ffffff, #fffac8);
  //   background-size: 400% 400%;
    
  //   -webkit-animation: AnimationName 12s ease infinite;
  //   -moz-animation: AnimationName 12s ease infinite;
  //   animation: AnimationName 12s ease infinite;
    
  //   @-webkit-keyframes AnimationName {
  //       0%{background-position:0% 50%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 50%}
  //   }
  //   @-moz-keyframes AnimationName {
  //       0%{background-position:0% 50%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 50%}
  //   }
  //   @keyframes AnimationName { 
  //       0%{background-position:0% 50%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 50%}
  //   }
  // }