<div  style="width: 18rem;">
     <%= content_tag(:div, post.title, class: "post_title etc", style: post.deleted? ? "color: red;" : "") %></h5>
     <%= content_tag(:small, " #{post.comment_threads.count}", class: "fas fa-comment-dots post_title etc", style: post.deleted? ? "color: red;" : "") %>
 </div>
